@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Dosis:wght@200;400&family=Inter+Tight:wght@100;200;300&family=Merriweather:wght@300;400&family=Montserrat:wght@100;200;300;400&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&family=Raleway:wght@100;200;300;400&family=Roboto&display=swap");

$bg: #eee;
$main-font: "Raleway", "open sans", sans-serif;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $bg;
  font-family: $main-font;

  #title {
    text-align: center;
    font-size: 3rem;
  }

  #description {
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
  }

  #svg-container {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      background-color: $bg;
      .county:hover {
        fill: orange;
      }
      .state-borders {
        stroke: #fff;
        stroke-width: 0.6px;
        fill: none;
        pointer-events: none;
      }
    }
  }

  #tooltip {
    background-color: #faebd7;
    color: black;
    font-size: 0.9rem;
    padding: 5px;
  }

  #source {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 200px;
    a {
      text-decoration: none;
    }
  }
}
